body {
  margin: 3px;
}
input {
  display: flex;
  border: none;
  flex-grow: 1;
  opacity: 0.7;
  font-size: 1rem;
  background-color: black;
  color: white;
}
input:hover,
input:focus {
  opacity: 1;
}
ul {
  margin: 0px;
  padding: 0px;
}
textarea {
  resize: none;
  min-width: 100px;
  min-height: 200px;
  opacity: 0.7;
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
}
button {
  border: none;
  opacity: 0.7;
  background-color: rgb(107, 12, 107);
  color: azure;
}
button:hover {
  opacity: 0.9;
}

.flex-row {
  border-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  color: azure;
}

#everything {
  display: flex;
  flex-direction: column;
}

#mover {
  opacity: 0.7;
  background-color: rgb(107, 12, 107);
  flex-grow: 1;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
#closer {
  opacity: 0.7;
  background-color: rgb(107, 12, 107);
}

#mover:hover {
  background-color: rgb(107, 12, 107);
  opacity: 0.9;
}
#closer:hover {
  background-color: rgb(107, 12, 107);
  opacity: 0.9;
}

#notearea {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

#note {
  flex-basis: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#note > button {
  float: right;
  padding: 1px;
  max-width: 160px;
}
#note > div {
  display: flex;
}

@media only screen and (max-width: 600px) {
  #notearea {
    flex-direction: column;
  }
}

#noteExpand {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 100;
  background-color: transparent;
  flex-basis: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#noteExpand > div {
  display: flex;
}
#noteExpand > button {
  float: right;
  padding: 1px;
  max-width: 160px;
}
#noteExpand > textarea {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 200px;
  max-height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}
#noteExpand > input {
  opacity: 0.3;
}
