.flex-container {
  display: flex;
  flex-direction: row;
}
body {
  margin: 0px;
  padding: 0px;
}
.button-container > * {
  display: block;
  cursor: pointer;
}
.moverButton {
  align-self: flex-start;
  height: 22px;
  border-radius: 20px;
  padding: 4px 6px;
  background-color: #a62883;
  fill: #faf8f7;
}
.mainFlex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nofuck {
  margin: 0px;
  padding: 0px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mover {
  flex-grow: 1;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
#clockContainer {
  display: flex;
  flex-direction: column;
}
.gradientBackground {
  background: rgb(97, 39, 123);
  background: linear-gradient(
    183deg,
    rgba(97, 39, 123, 1) 0%,
    rgba(97, 39, 123, 1) 17%,
    rgba(168, 39, 131, 1) 100%
  );
}
.default-background {
  background-color: #faf8f7;
}
.flerp-move {
  background-color: #faf8f7;
  fill: #1c1c1b;
}
.flerp-close {
  background-color: #faf8f7;
  fill: #1c1c1b;
}
.flerp {
  margin-bottom: -4px;
  width: 35px;
  height: 18px;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.exitClock {
  width: 35px;
  height: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #61277b;
  fill: #faf8f7;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.normalButton:hover {
  fill: #7f277d;
  background-color: #e3dae0;
  transition: ease-in-out 0.4s;
}
.exitButton {
  height: 24px;
  border-radius: 20px;
  padding: 4px 6px;
  background-color: #db0e00;
  fill: #faf8f7;
}
.exitButton:hover {
  fill: #681223;
  transition: ease-in-out 0.2s;
}

.draggable-img {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.normalButton {
  height: 18px;
  border-radius: 20px;
  padding: 8px 6px;
  background-color: #7f277d;
  fill: #faf8f7;
}

#clock {
  padding: 2px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #faf8f7;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

#bigClock {
  padding: 2px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #faf8f7;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
