.flex-container {
  display: flex;
  flex-direction: row;
}
.button-container > * {
  display: block;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.normalButton:hover {
  fill: #a62883;
  background-color: #e3dae0;
  transition: ease-in-out 0.4s;
}
.exitButton {
  height: 18px;
  border-radius: 20px;
  padding: 6px 4px;
  background-color: #db0e00;
  fill: #faf8f7;
}
.exitButton:hover {
  fill: #681223;
  transition: ease-in-out 0.2s;
}

.draggable-img {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.normalButton {
  height: 18px;
  border-radius: 20px;
  padding: 6px 4px;
  background-color: #a62883;
  fill: #faf8f7;
}
