.space-between {
  display: flex;
  justify-content: space-between;
}
.defaultButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(97, 39, 123);
  background: linear-gradient(
    183deg,
    rgba(97, 39, 123, 1) 0%,
    rgba(97, 39, 123, 1) 17%,
    rgba(168, 39, 131, 1) 100%
  );
  color: white;
  border: none;
  padding: 6px 8px;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  cursor: pointer;
  transition: background-color 0.3s;
}
.defaultButton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(97, 39, 123);
  background: linear-gradient(
    183deg,
    rgba(97, 39, 123, 1) 0%,
    rgba(97, 39, 123, 1) 17%,
    rgba(168, 39, 131, 1) 100%
  );
  color: white;
  border: none;
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 10px;

  cursor: pointer;
  transition: background-color 0.3s;
}
.defaultDelete {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  max-width: 200px;
}
#classDropdown {
  border: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(97, 39, 123);
  background: linear-gradient(
    183deg,
    rgba(97, 39, 123, 1) 0%,
    rgba(97, 39, 123, 1) 17%,
    rgba(168, 39, 131, 1) 100%
  );
  border-radius: 3px;
}
::-webkit-scrollbar-track-piece {
  background: #f4f4f4;
}
#slumpName {
  color: #f4f4f4;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  border-radius: 15px;
}
select,
ul {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  color: #090909;
}
.defaultInput {
  background-color: #f4f4f4;
  color: black;
  border: solid 2px rgba(97, 39, 123, 1);
  padding: 4px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 150px;
}

#namesList {
  list-style-type: none;
  padding: 0px;
  border: 1px solid #ddd;
  margin: 0px;
  max-height: 600px;
  overflow-y: auto;
  opacity: 0.9;
}
#namesList li div {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
#namesList li div p {
  padding: 6px 0px;
  margin: 0px;
}
#namesList li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  padding: 2px;
  border-bottom: 1px solid #eee;
  background-color: white;
}
#namesList li:last-child {
  border-bottom: none;
}

.add-btn:hover {
  background-color: #45a049;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox {
  padding: 2px;
}
