body {
  font-family: Arial, sans-serif;
}
.form-group {
  margin-bottom: 15px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
.defaultInput {
  flex: 1; /* Allow input to grow and shrink */
  min-width: 0; /* Prevent input from overflowing */
  width: 100%; /* Take full available width */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

/* Adjust button to not shrink */
.defaultButton2 {
  flex-shrink: 0; /* Prevent button from shrinking */
}
#studentList {
  max-height: 150px;
  overflow-y: scroll;
}
button {
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 5px 0;
}
h1 {
  margin: 0px;
}
.padding {
  padding: 8px;
}
#namesList {
  list-style-type: none;
  padding: 0px;
  border: 1px solid #ddd;
  margin: 0px;
  max-height: 200px;
  overflow-y: auto;
}

#namesList li div {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
#namesList li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  padding: 2px;
  border-bottom: 1px solid #eee;
  background-color: white;
}
#namesList li:last-child {
  border-bottom: none;
}

select,
ul {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

#mover {
  flex-grow: 1;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.editable-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  min-width: 50px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.editable-name:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}

.editable-name:focus {
  outline: none;
  background-color: #fff;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.padding-down {
  margin-bottom: 12px;
}
